*.xml
*.iml
=======
*.pyc
*.pyo
app.db
search.db
flask
**/.idea/
**/.vscode/

# NODEJS
**/node_modules/

# ROBOT
# =====
robot_data.robot
*.xml
report.html
log.html

# DJANGO
# ======
*~
__pycache__
db.sqlite3
/static
.DS_Store